<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      font-family: 'Poppins', sans-serif;
      line-height: 1.9;
      font-weight: 400;
      color: #444;
    "
  >
    <header
      style="background-color: #5ec576; text-align: center; padding: 10px 0"
    >
      <h2 style="color: white; font-size: 2rem">Welcome To Quiz Application!</h2>
    </header>

    <div
      style="
        font-size: 1.5rem;
        padding: 30px;
        padding-top: 10px;
        text-align: center;
      "
    >
      <p>To change your current email address, please follow the link :</p>
      <p>
        <a style="text-decoration: none; color: #5ec576" href="{{ uri }}"
          >click here</a
        >
      </p>
    </div>
  </body>
</html>
