{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="{% static 'accounts/css/sign_up.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="restore-password">
            <section class="section">
                <div class="section__title">
                    <h2 class="section__description">Restore Password</h2>
                    <h4 class="section__header">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </h4>
                </div>

                <form class="auth__form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn">Next</button>
                </form>
                <hr class="divider">
                <p class="auth__link__p"> Visit the login page?  
                    <a href="{% url 'accounts:sign_up' %}" class="auth__link">Login</a>
                </p>
                <p class="auth__link__p"> Visit the home page,   
                    <a href="{% url 'index' %}" class="auth__link">Home</a>
                </p>
            </section>
        </div>
    {% else %}
        <div class="restore-password">
            <div class="alert alert-danger">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </div>

            <section class="section">
                <div class="section__title">
                    <h2 class="section__description">Restore Password</h2>
                    <h4 class="section__header">
                        Password restoration failed, try again
                    </h4>
                </div>
                <hr class="divider">
                <p class="auth__link__p"> Visit the login page?  
                    <a href="{% url 'accounts:log_in' %}" class="auth__link">Login</a>
                </p>
                <p class="auth__link__p"> Visit the home page,   
                    <a href="{% url 'index' %}" class="auth__link">Home</a>
                </p>
            </section>
        </div>
    {% endif %}
{% endblock %}
