.section {
  text-align: center;
  padding: 5rem 3rem 2rem;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 5rem auto;
}

.section__description {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section__header {
  font-size: 2rem;
}

.divider {
  margin: 1rem auto;
  width: 80%;
}

/* FORM */

.auth__form {
  width: 60%;
  margin: 0 auto 2.5rem;
}

.form-group {
  margin-bottom: 2rem;
  text-align: left;
}

.auth__form label {
  font-size: 2rem;
  font-weight: 500;
}

.asteriskField {
  color: var(--color-tertiary);
  margin-left: 2px;
}

.auth__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.auth__form select {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  height: 45px;
}

.auth__form #hint_id_password1 {
  margin-left: 2rem;
}

.auth__form li {
  list-style-type: disc;
}

.auth__form ul {
  margin: 0;
  padding: 0;
}

.form-text,
.invalid-feedback {
  font-size: 1.4rem;
}

.auth__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.auth__form button:hover {
  color: #fff;
}

.auth__link__p,
.auth__link {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
  color: #333;
}

.auth__link {
  margin-left: 2px;
}

.auth__link:hover {
  color: var(--color-tertiary);
}

.form-check-label {
  margin-left: 25px;
}

.checkboxinput {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin: 0.56rem 0 0 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1010px) {
  .auth__form label {
    margin-top: 1.5rem;
  }

  .checkboxinput {
    top: 14px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    padding: 5rem 2rem 2rem;
  }
  .auth__form .form-text,
  .invalid-feedback {
    font-size: 1.2rem;
  }
  .auth__form {
    width: 90%;
  }
  .auth__form label {
    font-size: 1.7rem;
  }
  .auth__form inpit {
    font-size: 1.4rem;
  }
  .auth__form .form-group {
    margin-bottom: 1rem;
  }
  .checkboxinput {
    top: 12px;
  }
}
